header nav {
    display:flex;
    position:static;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:15rem;
}
header{
    padding:0;
}
header nav h1{
    display:block;
    font-size:30px;
    font-family:'Racing Sans One', sans-serif;
    color: black;
}
header nav ul{
    display:flex;
    gap:15rem;
    list-style: none;
    padding:0px;
    font-family:'Roboto', sans-serif;
    font-size:16px;
}
header nav ul a{
    color:black;
    text-decoration: none;
}
header nav ul a:hover{
    color:black;
    cursor: pointer;
    font-size:17px;
    font-weight: bold;
}
.column{
    float:left;
    width:32.60%;
    padding:5px;
margin-bottom: 50px;
margin-top:-10px;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
body{
    height:100dvh;
}
.kassidy{
    width:500px;
    height:700px;
    margin-left:250px;
    margin-top:150px;
}
h2{
    font-family:'Racing Sans One', sans-serif;
    margin-left:800px;
    margin-top:-420px;
    font-size:35px;
}
.para2{
    font-family:'Roboto', sans-serif;
    margin-left:800px;
    margin-top:-15px;
}
.learn{
    background-color: black;
    border-style:none;
    color:white;
    font-size:20px;
    display:inline-block;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 20px;
    padding:9px 25px;
    border-radius: 0 0px 0px 0;
    text-align:center;
    margin-top: 20px;
}
.learn:hover,
.learn:focus,
.learn:active{
    background-color: rgb(37, 37, 37);
}
footer{
    background-color: black;
width:100%;
margin-top:400px;
font-size:14px;
}
footer nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-size:14px;
    font-family:'Roboto', sans-serif;
    color: white;
    margin-left: 25px;
}
h4{
    font-size:14px;
    font-family:'Roboto', sans-serif;
    color: white;
    margin-right: 25px;
}
h5{
    font-family:'Racing Sans One', sans-serif;
    font-weight:normal;
    font-size:33px;
    text-align:center;
    margin-right:40px;
    margin-bottom: 50px;
}
input[type=text],select, textarea{
    width:100%
    padding:12px;
    border:2px solid;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
.submit{
    background-color: black;
    border-style: none;
    color:white;
    font-size:20px;
display:inline-block;
font-family: 'Roboto', sans-serif;
font-weight:normal;
cursor:pointer;
box-sizing:border-box;
line-height: 20px;
padding: 9px 25px;
border-radius: 0 0px 0px 0;
text-align: center;
margin-left: 622px;
margin-top:-125px;
}
.submit:hover,
.submit:focus,
.submit:active{
    background-color: rgb(41, 41, 41);
}
.swiper-button-next,.swiper-button-prev{
    cursor:pointer;
    color:black;
}
form{
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    align-items: center;
margin-left:300px;
margin-bottom: 50px;
}
label{
    font-family:'Open Sans', sans-serif;
    font-size:18px;
}
form input{
    width:800px;
    height:30px;
    background-color:rgba(223, 223, 223, 0);
    border-stroke:20px;
}
textarea{
    background-color:rgba(223, 223, 223, 0);
    width:800px;
    height:100px;
}
textarea:focus,input:focus{
    outline:none;
    border:2px solid black;
}
.body4{
    height:100dvh;
}
.portrait{
    width:500px;
    height:650px;
    margin-left:200px;
    margin-top:60px;
}
h6{
    font-family:'Racing Sans One', sans-serif;
    margin-left:775px;
    margin-top:-665px;
    font-size:35px;
}
.para3{
    font-family:'Roboto', sans-serif;
    margin-left:775px;
    margin-top:-60px;
    font-size:20px;
}
.para4{
    font-family:'Roboto', sans-serif;
    margin-left:775px;
    margin-top:30px;
    font-size:20px;
}
.morgan{
    width:500px;
    height:700px;
    margin-left:60px;
    margin-top:50px;
}
.empire{
    width:500px;
    height:700px;
    margin-left:290px;
    margin-top:-350px;
}
.house{
    width:500px;
    height:700px;
    margin-left:60px;
    margin-top:100px;
}
img {
    max-width: 100%;
    height: auto;
  }
  .rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .columns {
    flex: 25%;
    max-width: 35%;
    padding: 0 25px;
    margin-bottom: -325px;
    margin-top:-40px;
  }
  .columns > div {
    margin-top: 50px;
    width: 100%;
  }
  .item {
    position: relative;
    line-height: 0;
  }
  .hover {
    opacity: 0;
    background: rgba(19, 19, 19, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  }
  .item:hover .hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  }
  h7{
    font-family:'Racing Sans One', sans-serif;
    font-size:25px;
  }